body {
background-color: rgb(214, 214, 254);
font-family: Arial, Helvetica, sans-serif;
}
header{
    color: white;
    text-align: center;

}
header>h1{
    text-shadow: 5px 5px 10px rgba(17, 2, 113, 0.516);

}
section{
background-color: white;
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.308);
}
div{
    font: italic bolder 2em 'work-sans';
    text-align: center;
    padding: 5px;
}

img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;

}